/* Form Style for the add page*/
.error-message {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-required {
    border: 2px solid #007bff;
    /* Blue border for required fields */
    background-color: #e6f7ff;
    /* Light blue background */
}

.input-required:focus {
    border-color: #0056b3;
    /* Darker blue on focus */
    background-color: #d0ebff;
    /* Slightly darker blue background on focus */
}

/* Styles for optional input fields */
.input-optional {
    border: 2px solid #28a745;
    /* Green border for optional fields */
    background-color: #e9fbe6;
    /* Light green background */
}

.input-optional:focus {
    border-color: #1e7e34;
    /* Darker green on focus */
    background-color: #d4f5d0;
    /* Slightly darker green background on focus */
}

.error-input-required {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.input-error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

button.button-form {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.button-form:hover {
    background-color: #0056b3;
}

button.button-form:focus {
    outline: none;
    box-shadow: 0 0 5px #0078d7;
}

/* Custom style for <p> tags */
.custom-paragraph {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 2% 0;
    padding: 2%;
    border-left: 1% solid #0078d7;
    text-align: left;
}

h1 {
    margin-top: 5%;
}

#toggle {
    background-color: #0078d7;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle:hover {
    background-color: #005a9e;
}

#toggle:focus {
    outline: none;
    box-shadow: 0 0 5px #0078d7;
}